= simple_form_for @recipe, html: { multipart: true } do |f|
	- if @recipe.errors.any?
		#errors
			:javascript
				Materialize.toast('ERROR', 1000)
		- @recipe.errors.full_messages.each do |msg|
			:javascript
				Materialize.toast('#{msg}', 4000)
	.panel-body
		#cmdata
			.input-field
				= f.input :title, input_html: { class: 'form-control validate' }
			%br
			.input-field
				= f.input :description, input_html: { class: 'form-control validate' }
			%br
			= f.input :image
			%br
			.input-field
				= f.label :tag_list, "Tags (separated by commas)"
				%br/
				= f.text_field :tag_list

		.row
			.col.m6.bit
				%h3 Ingredients
				#ingredients
					= f.simple_fields_for :ingredients do |ingredient|
						= render 'ingredient_fields', f: ingredient
					.links
						= link_to_add_association 'Add Ingredient', f, :ingredients, class: "btn btn-default add-button"
			.col.m6
				%h3 Directions
				#directions
					= f.simple_fields_for :directions do |direction|
						= render 'direction_fields', f: direction
					.links
						= link_to_add_association 'Add Step', f, :directions, class: "btn btn-default add-button"

	= f.button :submit, class: "btn btn-primary",style: "margin-bottom:10px;"
