<div class="col-md-6 col-md-offset-3 bbox" style="margin-top:20px;">

<h2>Sign in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <div class="input-field">
      <%= f.input :email, required: false, autofocus: true,class: "validate" %>
    </div>
    <div class="input-field">
      <%= f.input :password, required: false,class: "validate" %>
    </div>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions waves-effect waves-red ">
    <%= f.button :submit, "Sign in",class: "btn  yellow darken-2" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
