!!!5
%html
%head
  %title CookBook
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
  %link{:href => "https://fonts.googleapis.com/css?family=Fredericka+the+Great", :rel => "stylesheet"}/
  = csrf_meta_tags

%body
  %nav{style: "height:70px;background-color:#ffb441;z-index:4;position:fixed;"}
    .logo
      = link_to "CookBook", root_path,class: "brand-logo waves-effect waves-light",style: "font-family: 'Fredericka the Great',cursive;font-weight:550;font-size:40px;color:white;margin:10px;"
    %ul.cd-primary-nav
      -if user_signed_in?
        %li.waves-effect.waves-light
          =form_tag recipes_path, :method => 'get' do
            %i.material-icons.col.s1{style: "font-size:40px;display: inline;padding-top:15px;"} search
            .input-field.col.s11{style: "height:67px;"}
              = text_field_tag :search, params[:search],placeholder:"Search",style:"padding:0;"
        %li.waves-effect.waves-light= link_to "New Recipe",new_recipe_path,style:"color:white;font-size:17px;"
        %li.waves-effect.waves-light= link_to "Saved Recipes",fav_path,style:"color:white;font-size:17px;"
        %li.waves-effect.waves-light= link_to "Account",edit_user_registration_path,style:"color:white;font-size:17px;"
        %li.waves-effect.waves-light= link_to "Sign Out",destroy_user_session_path,method: :delete,style:"color:white;font-size:17px;"
      -else
        %li.waves-effect.waves-light
          =form_tag recipes_path, :method => 'get',style:"display:flex" do
            %i.material-icons.col.s1{style: "font-size:40px;display: inline;padding-top:15px;"} search
            .input-field.col.s10{style: "height:67px;"}
              = text_field_tag :search, params[:search],placeholder:"Search",style:"padding:0;padding-left:15px"
        %li.waves-effect.waves-light= link_to "Sign Up",new_user_registration_path,style:"color:white;font-size:17px;"
        %li.waves-effect.waves-light= link_to "Sign In",new_user_session_path,style:"color:white;font-size:17px;"
  .cd-overlay-nav
    %span
    / cd-overlay-nav
  .cd-overlay-content
    %span
    / cd-overlay-content
  %a.cd-nav-trigger{:href => "#0"}
    Menu
    %span.cd-icon
  .col.bigb{style:"height:90%;"}
    - if notice
      :javascript
        Materialize.toast('#{notice}', 2000)
    - if alert
      :javascript
        Materialize.toast('#{alert}', 2000)
    .bpad{style:"padding-top:60px;"}
    = yield
